[Desktop Entry]
Name=Tremulous SMP
Comment=Tremulous for linux
Comment[pl]=Tremulous dla Linuksa
Exec=tremulous-smp
Icon=tremulous
Terminal=false
Type=Application
Categories=Game;X-FPPGame;
# vi: encoding=utf-8
