[Desktop Entry]
Name=Tremulous
Comment=Tremulous for linux
Comment[pl]=Tremulous dla Linuksa
Exec=tremulous
Icon=tremulous.xpm
Terminal=false
Type=Application
Categories=Game;X-FPPGame;
Encoding=UTF-8
# vi: encoding=utf-8
